<div class="nombre-titulo-perfil-ft  container ">
    <div class=" row">
        <div class="col-3 contenedor-imagen m-auto">
            <img src="/assets/img/imagenJose.jpeg" class="imagen-foto img-fluid border border-3 border-light" alt="">
        </div>

        <div class="nombre-titulo fondo-s col-9 shadow m-auto p-1">
            <div class=" ">
                <div class=" d-flex justify-content-evenly">
                    <div class=" m-auto">
                        <h1 class=" text-start m-3 text-light"> Jose Luis Gazano </h1>
                        <p class=" text-center m-3 text-light">Full-Stack Developer Jr.</p>
                    </div>
                    <div class=" m-auto p-1">
                        <ul class=" navbar-nav">
                            <li class="nav-item">
                                <a href=" #" class=" text-decoration-none m-0">
                                    <div class=" d-flex p-1">
                                        <img src="/assets/iconos/front-end.png" class=" " alt=""
                                            style="width: 3rem; height: 3rem;">
                                        <h5 class="text-center m-auto text-light texto-3 p-2">Desarrollador
                                            Front-End
                                        </h5>
                                    </div>
                                </a>
                            </li>
                            <li class=" nav-item">
                                <a href="#" class=" text-decoration-none m-0">
                                    <div class="d-flex p-1">
                                        <img src="/assets/iconos/engranajes.png" alt="" style="width: 3rem; height: 3rem;">
                                        <h5 class=" text-center m-auto text-light texto-3 p-2">Desarrollador
                                            Back-End
                                        </h5>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

