<div class="container-fluid">
    <div class="m-5">
        <hr class="container" style="margin-left: auto; margin-right: auto; margin-top: 2rem;" />
        <div class="container d-flex justify-content-center align-content-center">
            <h1 class="display-4 texto-1 text-center">Experiencia</h1>
        </div>
        <hr class="container" style="margin-left: auto; margin-right: auto;" />
    </div>
    <section class="container" style="">

        <div class="">
            <div class="container d-flex justify-content-end">
                <a href="" class="m-3" data-bs-toggle="modal" data-bs-target="#modalExperiencia">
                    <img src="/assets/iconos/plus.png" style="height: 2rem; width: 2rem;" alt="">
                </a>
            </div>

            <!-- Modal FORMULARIO de crear experiencia -->
            <div class="modal fade" id="modalExperiencia" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregue su nueva experiencia</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="form" (ngSubmit)="create()">
                                <div class="mb-3">
                                    <label for="empresa" class="form-label">Nombre Empresa</label>
                                    <input type="text" class="form-control" formControlName="nombreempresa"
                                        placeholder="lugar de trabajo">
                                </div>
                                <div class="mb-3">
                                    <label for="inicioAct" class="form-label">Inicio de actividad</label>
                                    <input type="date" class="form-control" formControlName="fechainicio"
                                        placeholder="Año">
                                    <label for="finAct" class="form-label">Fin de actividad</label>
                                    <input type="Date" class="form-control" formControlName="fechafin"
                                        placeholder="Año">
                                </div>

                                <div class="mb-3">
                                    <label for="tipoEmpleo" class="form-label">Tipo de Empleo</label>
                                    <input type="text" class="form-control" formControlName="tipo_empleo_id"
                                        placeholder="Tipo de empleo">
                                </div>

                                <div class="mb-3">
                                    <label for="activRealizada" class="form-label">Detallar actividades
                                        realizadas</label>
                                    <textarea class="form-control" formControlName="descripcion"
                                        aria-label="With textarea"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label for="logo" class="form-label">Agregar logo de
                                        Empresa</label>
                                    <input type="file" class="form-control" formControlName="url_logo"
                                        aria-label="file example" required>
                                    <div class="invalid-feedback">Example invalid form file feedback</div>
                                </div>
                                <div class="mb-3">
                                    <label for="persona_id" class="form-label">Empleo Id </label>
                                    <input type="number" class="form-control" formControlName="persona_id"
                                        placeholder="Persona ID">
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary"
                                        data-bs-dismiss="modal">Agregar</button>
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Fin de Modal -->



        <!-- Experiencia N° 1-->
        <ul class="lista">
            <li *ngFor="let exp of experienciaList" >
                <div class="container d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12 m-1">
                            <div class="d-flex justify-content-between">
                                <div class="card text-white bg-success mb-3" style="width: 45rem;">
                                    <div class="card-header d-flex justify-content-between" id="lugarTrabajo">
                                        <h4 id="edit-titulo"> {{exp.nombreempresa}} </h4>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{exp.fechainicio}} - {{exp.fechafin}}</h5>
                                        <p class="">
                                            MODALIDAD: {{exp.tipo_empleo_id}}
                                            <br>
                                            {{exp.descripcion}}
                                        </p>

                                    </div>
                                </div>

                                <div class="d-flex p-0">
                                    <div class="">
                                        <img [src]="exp.url_logo"
                                            class="imagen-foto img-fluid border border-3 border-light w-auto h-auto"
                                            alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Botones Editar y Borrar -->
                    <div class="d-flex m-1">
                        <div class=" m-1">
                            <a href="" data-bs-toggle="modal" data-bs-target="#modalModificar" (click)="editar(exp.id)">
                                <img src="/assets/iconos/editar.png" alt="">
                            </a>
                        </div>
                        <div class=" m-1">
                            <a href="">
                                <img src="/assets/iconos/eliminar.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- FINAL Botones Editar y Borrar -->
                    
                </div>

                <!-- Modal FORMULARIO de Editar experiencia -->
                <div class="modal fade" id="modalModificar" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Editar experiencia</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <form [formGroup]="form" (ngSubmit)="editar(exp.value)">
                                    <div class="mb-3">
                                        <label for="empresa" class="form-label">Nombre Empresa</label>
                                        <input type="text" id="nombreempresa" class="form-control"
                                            formControlName="nombreempresa" placeholder={{exp.nombreempresa}}>
                                    </div>
                                    <div class="mb-3">
                                        <label for="inicioAct" class="form-label">Inicio de actividad</label>
                                        <input type="date" class="form-control"
                                            formControlName="fechainicio" placeholder={{exp.fechainicio}}>
                                        <label for="finAct" class="form-label">Fin de actividad</label>
                                        <input type="Date" class="form-control" formControlName="fechafin"
                                            placeholder="Año">
                                    </div>

                                    <div class="mb-3">
                                        <label for="tipoEmpleo" class="form-label">Tipo de Empleo</label>
                                        <input type="text" class="form-control" formControlName="tipo_empleo_id"
                                            placeholder="Tipo de empleo">
                                    </div>

                                    <div class="mb-3">
                                        <label for="activRealizada" class="form-label">Detallar actividades
                                            realizadas</label>
                                        <textarea class="form-control" formControlName="descripcion"
                                            aria-label="With textarea"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="logo" class="form-label">Agregar logo de
                                            Empresa</label>
                                         <!-- Se agrego en input type text mientras tanto / cambiar a file -->   
                                        <input type="text" class="form-control" formControlName="lurl_logo"
                                            aria-label="file example" required>
                                        <div class="invalid-feedback">Example invalid form file feedback</div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary"
                                            data-bs-dismiss="modal">Editar</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                    </div>

                                </form>



                            </div>

                        </div>
                    </div>
                </div>
                <!-- Final Modal Editar experiencia -->




            </li>
        </ul>

        <!-- Experiencia N° 2-->

    </section>
</div>