<div class="container-fluid">
    <div class="m-5">
        <hr class="container" style="margin-left: auto; margin-right: auto; margin-top: 2rem;" />
        <div class="container d-flex justify-content-center align-content-center">
            <h1 class="display-4 texto-1 text-center">Educacion</h1>
        </div>
        <hr class="container" style="margin-left: auto; margin-right: auto;" />
    </div>

    <div class="">
        <div class="container d-flex justify-content-end" *ngIf="authService.hasRole('ROLE_ADMIN')">
            <a href="" class="m-3" data-bs-toggle="modal" data-bs-target="#modalEducacion" (click)="limpiarEdu()">
                <img src="/assets/iconos/plus.png" style="height: 2rem; width: 2rem;" alt="" />
            </a>
        </div>

        <!-- Modal FORMULARIO de crear Educacion -->
        <div class="modal fade" id="modalEducacion" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Agregar Educacion
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="formEdu" (ngSubmit)="crearEdu()">

                            <div class="mb-3">
                                <label for="institucion" class="form-label">
                                    Nombre de Institucion
                                </label>
                                <input type="text" name="institucion" class="form-control" placeholder="Institucion"
                                    formControlName="nombre" />
                            </div>

                            <div class="mb-3">
                                <label for="inicio" class="form-label">
                                    Año: inicio
                                </label>
                                <input type="date" class="form-control" placeholder="Año" formControlName="inicio" />

                                <label for="final" class="form-label">
                                    Año: finalizado
                                </label>
                                <input type="date" class="form-control" placeholder="Año"
                                    formControlName="finalizado" />
                            </div>

                            <div class="mb-3">
                                <label for="logo" class="form-label">
                                    Agregar logo de Institucion
                                </label>
                                <input type="text" class="form-control" formControlName="url_logo"
                                    aria-label="file example" required placeholder="URL" />
                                <div class="invalid-feedback">
                                    Example invalid form file feedback
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary"
                                    data-bs-dismiss="modal">Agregar</button>
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin de Modal -->
    </div>
   



    <div class="container">
        <div class="container m-auto p-3">
            <!-- Eeducacion N° 1-->
            <ul class="lista">
                <li *ngFor="let edu of educacionList">
                    <dl class="container-edu">

                        <dt>
                            <div class="d-flex justify-content-between align-items-center">
                                <img [src]="edu.url_logo" alt="" class="img-fluid rounded-circle m-1"
                                    style="width: 8rem;" />
                                <h3 class="m-3"> {{edu.nombre}} </h3>
                            </div>
                        </dt>

                        <!-- Propiedad valor -->
                        <dd class="m-1">
                            <h5>{{edu.inicio}} - {{edu.finalizado}}</h5>
                        </dd>

                        <!-- Botones Editar y Borrar -->
                        <div class="d-flex m-1" *ngIf="authService.hasRole('ROLE_ADMIN')">
                            <div class=" m-1">
                                <a href="" data-bs-toggle="modal" data-bs-target="#modalEducacionEditar" (click)="obtenerEduId(edu.id)">
                                    <img src="/assets/iconos/editar.png" alt="">
                                </a>
                            </div>
                            <div class=" m-1" *ngIf="authService.hasRole('ROLE_ADMIN')">
                                <a type="button" (click)="eliminarEduId(edu.id)">
                                    <img src="/assets/iconos/eliminar.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- FINAL Botones Editar y Borrar -->

                        <!-- Modal FORMULARIO de Editar Educacion -->
        <div class="modal fade" id="modalEducacionEditar" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Editar Educacion
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formEdu" (ngSubmit)="editarEdu(edu.id)" >

                        <div class="mb-3">
                            <label for="institucion" class="form-label">
                                Nombre de Institucion
                            </label>
                            <input type="text" name="institucion" class="form-control" placeholder="Institucion"
                                formControlName="nombre" />
                        </div>

                        <div class="mb-3">
                            <label for="inicio" class="form-label">
                                Año: inicio
                            </label>
                            <input type="date" class="form-control" placeholder="Año" formControlName="inicio" />

                            <label for="final" class="form-label">
                                Año: finalizado
                            </label>
                            <input type="date" class="form-control" placeholder="Año"
                                formControlName="finalizado" />
                        </div>

                        <div class="mb-3">
                            <label for="logo" class="form-label">
                                Agregar logo de Institucion
                            </label>
                            <input type="text" class="form-control" formControlName="url_logo"
                                aria-label="file example" required />
                            <div class="invalid-feedback">
                                Example invalid form file feedback
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal">Editar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Cerrar
                            </button>
                            
                        </div>

                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Fin de Modal -->
                        
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div>