<div class=" container-fluid">
<div class="m-5">
    <hr class=" container" style="margin-left: auto; margin-right: auto; margin-top: 2rem;">
    <div class=" container d-flex justify-content-center align-content-center">
        <h1 class=" display-4 texto-1 text-center"> Educacion</h1>
    </div>
    <hr class=" container " style=" margin-left: auto; margin-right: auto;">
</div>

<div class="container">
    <div class="container m-auto p-3">
        <!-- A property item -->
        <dl class="container-edu">

    <!-- Propiedad nombre -->
            <dt>
            <div class=" d-flex justify-content-between align-items-center">
                    <img src="/assets/img/Esc236.jpeg" alt="" class="img-fluid rounded-circle m-1" style="width: 8rem;">
                    <h3 class="m-3">Primaria Escuela N° 236</h3>
                </div>
            </dt>

            <!-- Propiedad valor -->
            <dd>
                <h5>Año 1992 - 1999</h5>
            </dd>
        </dl>
        <dl class="container-edu">

            <!-- Propiedad nombre -->
            <dt>
                <div class=" d-flex justify-content-between align-items-center">
                    <img src="/assets/img/comercio3.png" alt="" class="img-fluid rounded-circle m-1"
                        style="width: 8rem;">
                    <h3 class=" m-3">Secundaria Comercio N° 3</h3>
                </div>
            </dt>

            <!-- Propiedad valor -->
            <dd>
                <h5>Año 1992 - 1999</h5>
            </dd>
        </dl>
    </div>
</div> 
</div>   