<div class="container-fluid p-5">
  <div class="m-5">
    <hr
      class="container"
      style="margin-left: auto; margin-right: auto; margin-top: 2rem;"
    />
    <div class="container d-flex justify-content-center align-content-center">
      <h1 class="display-4 texto-1 text-center">Proyectos</h1>
    </div>
    <hr class="container" style="margin-left: auto; margin-right: auto;" />
  </div>

  <div class="seccion-inferior contenedor seccion container">
    <section class="blog">
      <article class="entrada-blog">
        <div class="imagen">
          <img
            src="/assets/img/bienesraices.jpg"
            style="max-width: 100%;"
            alt="Entrada de blog"
          />
        </div>
        <div class="texto-entrada">
          <a href="https://github.com/josegazano732/BienesReices-Front">
            <h4>Bienes Raices</h4>
          </a>
          <p>
            Escrito el:
            <span>24/04/2021</span>
            por:
            <span>Jose L. Gazano</span>
          </p>
          <p>
            Practicas Front utilizando Html y Css en proceso de aprendizaje realizado desde curso desde UDEMY.
          </p>
        </div>
      </article>

      <article class="entrada-blog">
        <div class="imagen">
          <img
            src="/assets/img/ArgPrograma.jpg"
            style="max-width: 100%;"
            alt="Entrada de blog"
          />
        </div>
        <div class="texto-entrada">
          <a href="https://github.com/josegazano732/Angular-MiProyecto-AP">
            <h4>Argentina Programa</h4>
          </a>
          <p>
            Escrito el:
            <span>10/05/20222</span>
            por:
            <span>Jose L. gazano</span>
          </p>
          <p>
            Trabajo realizado desde la cursada AP donde tambien se implemento una API con JAVA , su base de dato y Framework ANGULAR para el Front-End.
          </p>
        </div>
      </article>

      <article class="entrada-blog">
        <div class="imagen">
          <img
            src="/assets/img/ElizabethDeco.jpg"
            style="max-width: 100%;"
            alt="Entrada de blog"
          />
        </div>
        <div class="texto-entrada">
          <a href="https://github.com/josegazano732/DecoElizabeth-Front">
            <h4>Elizabeth Deco</h4>
          </a>
          <p>
            Escrito el:
            <span>24/04/2019</span>
            por:
            <span>Jose L. Gazano</span>
          </p>
          <p>
            Practicas llevando a cabo la realizacion de header utilizando HTML y CSS.
          </p>
        </div>
      </article>

      <article class="entrada-blog">
        <div class="imagen">
          <img
            src="/assets/img/ProyectoColaborativo.jpg"
            style="max-width: 100%;"
            alt="Entrada de blog"
          />
        </div>
        <div class="texto-entrada">
          <a href="https://github.com/orgs/AP17380/teams/team-ap1-7380">
            <h4>Portfolio</h4>
          </a>
          <p>
            Escrito el:
            <span>10/05/2022</span>
            por:
            <span>Jose L. Gazano</span>
          </p>
          <p>
            Colaboracion y trabajo en equipo realizando PortFolio AP implementando controladores, servicio y repositorio en API utilizando JAVA.
          </p>
        </div>
      </article>
    </section>
  </div>
</div>
