<div class="bg-light">

  <app-encabezado></app-encabezado>
  <app-img-acerca></app-img-acerca>
  <app-experiencias></app-experiencias>
  <app-educacion></app-educacion>

  
  <!--Fin de img de perfil-->



    

      <div class="m-5">
          <hr class=" container" style="margin-left: auto; margin-right: auto; margin-top: 2rem;">
          <div class=" container d-flex justify-content-center align-content-center">
              <h1 class=" display-4 texto-1 text-center"> Hard & Soft Skills</h1>
          </div>
          <hr class=" container " style=" margin-left: auto; margin-right: auto;">
      </div>

      <section class=" container-fluid">


      </section>









    </div>




  <footer class=" container-fluid d-flex justify-content-center">
      <nav aria-label="Page navigation example" class=" ">
          <ul class="pagination m-3">
              <li class="page-item"><a class="page-link bg-transparent text-light" href="#">Anterior</a></li>
              <li class="page-item"><a class="page-link bg-transparent text-light" href="#">1</a></li>
              <li class="page-item"><a class="page-link bg-transparent text-light" href="#">2</a></li>
              <li class="page-item"><a class="page-link bg-transparent text-light" href="#">3</a></li>
              <li class="page-item"><a class="page-link bg-transparent text-light" href="#">Proximo</a></li>
          </ul>
      </nav>
  </footer>




  <!-- Bootsratp JS -->
  

  <!--Mi script-->
  <script src="/js.js"></script>



