<div class="bg-light">

  <app-encabezado></app-encabezado>

  <div class="nombre-titulo-perfil-ft  container ">
      <div class=" row">
          <div class="col-3 contenedor-imagen m-auto">
              <img src="/src/assets/img/imagenJose.jpeg" class="imagen-foto img-fluid border border-3 border-light" alt="">
          </div>

          <div class="nombre-titulo fondo-s col-9 shadow m-auto p-1">
              <div class=" ">
                  <div class=" d-flex justify-content-evenly">
                      <div class=" m-auto">
                          <h1 class=" text-start m-3 text-light"> Jose Luis Gazano </h1>
                          <p class=" text-center m-3 text-light">Full-Stack Developer Jr.</p>
                      </div>
                      <div class=" m-auto p-1">
                          <ul class=" navbar-nav">
                              <li class="nav-item">
                                  <a href=" #" class=" text-decoration-none m-0">
                                      <div class=" d-flex p-1">
                                          <img src="Iconos/front-end.png" class=" " alt=""
                                              style="width: 3rem; height: 3rem;">
                                          <h5 class="text-center m-auto text-light texto-3 p-2">Desarrollador
                                              Front-End
                                          </h5>
                                      </div>
                                  </a>
                              </li>
                              <li class=" nav-item">
                                  <a href="#" class=" text-decoration-none m-0">
                                      <div class="d-flex p-1">
                                          <img src="Iconos/engranajes.png" alt="" style="width: 3rem; height: 3rem;">
                                          <h5 class=" text-center m-auto text-light texto-3 p-2">Desarrollador
                                              Back-End
                                          </h5>
                                      </div>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>

  <!--Fin de img de perfil-->

<div class=" container-fluid ">
      <div class="m-5">
          <hr class=" container" style="margin-left: auto; margin-right: auto; margin-top: 2rem;">
          <div class=" container d-flex justify-content-center align-content-center">
              <h1 class=" display-4 texto-1 text-center"> Experiencia</h1>
          </div>
          <hr class=" container " style=" margin-left: auto; margin-right: auto;">
      </div>
      <section class="container" style="">
          <!-- Experiencia N° 1-->
          <div class="container d-flex justify-content-center">
              <div class="row">
                  <div class="col-12 m-1">
                      <div class="d-flex justify-content-between">
                          <div class="card text-white bg-success mb-3" style="width: 50rem;">
                              <div class="card-header d-flex justify-content-between" id="lugarTrabajo">
                                  <h4 id="edit-titulo">Previsora Del Parana SRL</h4>
                                  <div class="">
                                      <a href="#">
                                          <li class="" id="btn-editar">EDITAR</li>
                                      </a>
                                  </div>

                              </div>
                              <div class="card-body">
                                  <h5 class="card-title">Año 2016 - Actualmente </h5>
                                  <p class="">* Encargado de salon de ventas y area administrativa. </p>
                                  <p class="">* Administracion Unidad de Negocio Supermercado y Electrodomestico. </p>
                                  <p class="">* Analisis crediticio. </p>
                              </div>
                          </div>
                          <div class=" d-flex p-0">
                              <img src="img/prevLogo.jpeg" class="img-fluid align-items-center" alt=""
                                  style="height: 100%; width: 100%; padding-bottom: 1rem; border-radius: 0.2rem;">
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <!-- Experiencia N° 2-->
          <div class="container d-flex justify-content-center ">
              <div class="row">
                  <div class="col-12 m-1">
                      <div class="d-flex justify-content-between">
                          <div class=" d-flex p-0">
                              <img src="img/FYF.png" class="img-fluid align-items-center" alt=""
                                  style="height:15rem; width: 15rem; padding-bottom: 1rem; border-radius: 0.2rem;">
                          </div>
                          <div class="card text-white bg-danger mb-3" style="width: 50rem;">
                              <div class="card-header">
                                  <h4>Automotores F&F</h4>
                              </div>
                              <div class="card-body">
                                  <h5 class="card-title">Año 2014 - 2016</h5>
                                  <p class="">* Sector ventas multimarcas usados y 0 KM </p>
                                  <p class="">* Sector Gestoria. </p>
                                  <p class="">* Sector Analisis de credito prendarios.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Experiencia N° 3-->
          <div class="container d-flex justify-content-center">
              <div class="row">
                  <div class="col-12 m-1">
                      <div class="d-flex justify-content-between">
                          <div class="card text-white bg-secondary mb-3" style="width: 50rem;">
                              <div class="card-header d-flex justify-content-between">
                                  <h4>Previsora Del Parana SRL</h4>
                              </div>
                              <div class="card-body">
                                  <h5 class="card-title">Primary card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up
                                      the
                                      bulk
                                      of the card's content.</p>
                              </div>
                          </div>
                          <div class=" d-flex p-0">
                              <img src="img/prevLogo.jpeg" class="img-fluid align-items-center" alt=""
                                  style="height:15rem; width: 15rem; padding-bottom: 1rem; border-radius: 0.2rem;">
                          </div>
                      </div>

                  </div>
              </div>
          </div>
          <!-- Experiencia N° 4-->
          <div class="container d-flex justify-content-center ">
              <div class="row">
                  <div class="col-12 m-1">
                      <div class="d-flex justify-content-between">
                          <div class=" d-flex p-0">
                              <img src="img/prevLogo.jpeg" class="img-fluid align-items-center" alt=""
                                  style="height:15rem; width: 15rem; padding-bottom: 1rem; border-radius: 0.2rem;">
                          </div>
                          <div class="card text-dark bg-info mb-3" style="width: 50rem;">
                              <div class="card-header">Header</div>
                              <div class="card-body">
                                  <h5 class="card-title">Success card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up
                                      the
                                      bulk
                                      of the card's content.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <div class="m-5">
          <hr class=" container" style="margin-left: auto; margin-right: auto; margin-top: 2rem;">
          <div class=" container d-flex justify-content-center align-content-center">
              <h1 class=" display-4 texto-1 text-center"> Educacion</h1>
          </div>
          <hr class=" container " style=" margin-left: auto; margin-right: auto;">
      </div>

      <div class=" container">
          <div class="container m-5 p-3">
              <!-- A property item -->
              <dl class="container-edu">

                  <!-- Propiedad nombre -->
                  <dt>
                      <div class=" d-flex justify-content-between align-items-center">
                          <img src="img/Esc236.jpeg" alt="" class="img-fluid rounded-circle m-1" style="width: 8rem;">
                          <h3 class="m-3">Primaria Escuela N° 236</h3>
                      </div>
                  </dt>

                  <!-- Propiedad valor -->
                  <dd>
                      <h5>Año 1992 - 1999</h5>
                  </dd>
              </dl>
              <dl class="container-edu">

                  <!-- Propiedad nombre -->
                  <dt>
                      <div class=" d-flex justify-content-between align-items-center">
                          <img src="img/comercio3.png" alt="" class="img-fluid rounded-circle m-1"
                              style="width: 8rem;">
                          <h3 class=" m-3">Secundaria Comercio N° 3</h3>
                      </div>
                  </dt>

                  <!-- Propiedad valor -->
                  <dd>
                      <h5>Año 1992 - 1999</h5>
                  </dd>
              </dl>
          </div>

      <div class="m-5">
          <hr class=" container" style="margin-left: auto; margin-right: auto; margin-top: 2rem;">
          <div class=" container d-flex justify-content-center align-content-center">
              <h1 class=" display-4 texto-1 text-center"> Hard & Soft Skills</h1>
          </div>
          <hr class=" container " style=" margin-left: auto; margin-right: auto;">
      </div>

      <section class=" container-fluid">


      </section>









    </div>




  <footer class=" container-fluid d-flex justify-content-center">
      <nav aria-label="Page navigation example" class=" ">
          <ul class="pagination m-3">
              <li class="page-item"><a class="page-link bg-transparent text-light" href="#">Anterior</a></li>
              <li class="page-item"><a class="page-link bg-transparent text-light" href="#">1</a></li>
              <li class="page-item"><a class="page-link bg-transparent text-light" href="#">2</a></li>
              <li class="page-item"><a class="page-link bg-transparent text-light" href="#">3</a></li>
              <li class="page-item"><a class="page-link bg-transparent text-light" href="#">Proximo</a></li>
          </ul>
      </nav>
  </footer>




  <!-- Bootsratp JS -->
  

  <!--Mi script-->
  <script src="/js.js"></script>


</div>
