<div class="m-5">
    <hr class="container" style="margin-left: auto; margin-right: auto; margin-top: 2rem;" />
    <div class="container d-flex justify-content-center align-content-center">
        <h1 class="display-4 texto-1 text-center">Hard & Soft Skills</h1>
    </div>
    <hr class="container" style="margin-left: auto; margin-right: auto;" />
</div>

<div class="">
    

    <!-- Modal -->
    <div class="modal fade" id="modalSkill" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Habilidad</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Destacar habilidad</label>
                            <input type="text" class="form-control" id="formGroupExampleInput"
                                placeholder="Habilidad">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label"> Imgresar un valor de 1 a 100 </label>
                            <input type="number" class="form-control" id="formGroupExampleInput"
                                placeholder="Valor ">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container justify-content-start">
    <div class="col-xl-5 offset-xl-1 col-lg-6 m-auto p-2">
        <div class="about-skills pt-25">
            
            <h2 class=" text-center m-4">Esto es un Titulo</h2>
            <div class="container d-flex justify-content-end">
                <a href="" class="m-3" data-bs-toggle="modal" data-bs-target="#modalSkill">
                    <img src="/assets/iconos/plus.png" style="height: 2rem; width: 2rem;" alt="" >
                </a>
        </div>
        
            
            <!-- skill item -->
            <ul *ngFor="let sk of detalle">
                <li class="lista">
                    <div class="skill-item mt-25 m-3">
                        <div class="skill-header">
                            <h6 class="skill-title">{{sk.nombre}}</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">{{ sk.valor }}</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="90" [ngStyle]="{'width.%':sk.valor}">
                                </div>
                                <!--style="width: {{porcentaje}}%;"-->
                            </div>
                        </div>
                        <div class="m-auto">
                            <button class="m-1" (click)="acumularDos(sk.nombre,+5)">+</button>
                            <button class="m-1" (click)="acumularDos(sk.nombre,-5)">-</button>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- skill item -->
        </div>
        <!-- about skills -->
    </div>
    
    <div class=" m-5">
        <h6>Trabajo en Equipo</h6>
        <mat-progress-spinner [value]="value" [ngStyle]="style"></mat-progress-spinner>
    </div>
    <div class=" m-5">
        <h6>Creatividad</h6>
        <mat-progress-spinner [value]="value" [ngStyle]="style"></mat-progress-spinner>
    </div>
    <div class=" m-5">
        <h6>Adaptabilidad</h6>
        <mat-progress-spinner [value]="value" [ngStyle]="style"></mat-progress-spinner>
    </div>
    <div>
        <svg class="progress" width="100" height="100">
            <circle class="progress-circle" cx="50" cy="50" stroke="blue" r="30" fill="transparent" stroke-width="5" />
            <text class="loading" fill="blue" x="50" y="50" alignment-baseline="middle" text-anchor="middle">ss</text>
        </svg>
        <span class=" loading"></span>
    </div>
    


</div>


