<div class="m-5">
    <hr class=" container" style="margin-left: auto; margin-right: auto; margin-top: 2rem;">
    <div class=" container d-flex justify-content-center align-content-center">
        <h1 class=" display-4 texto-1 text-center"> Hard & Soft Skills</h1>
    </div>
    <hr class=" container " style=" margin-left: auto; margin-right: auto;">
</div>

<div class=" container justify-content-center">
    <div class="col-xl-5 offset-xl-1 col-lg-6 m-auto p-5">
        <div class="about-skills pt-25">
            <div class="skill-item mt-25">
                <div class="skill-header">
                    <h6 class="skill-title">HTML</h6>
                    <div class="skill-percentage">
                        <div class="count-box counted">
                            <span class="counter">80</span>
                        </div>
                        %
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="bar-inner">
                        <div class="bar progress-line" data-width="80" style="width: 55%;"></div>
                    </div>
                </div>
            </div> <!-- skill item -->
            <div class="skill-item mt-25">
                <div class="skill-header">
                    <h6 class="skill-title">CSS</h6>
                    <div class="skill-percentage">
                        <div class="count-box counted">
                            <span class="counter">60</span>
                        </div>
                        %
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="bar-inner">
                        <div class="bar progress-line" data-width="60" style="width: 73%;"></div>
                    </div>
                </div>
            </div> <!-- skill item -->
            <div class="skill-item mt-25">
                <div class="skill-header">
                    <h6 class="skill-title">Javascript</h6>
                    <div class="skill-percentage">
                        <div class="count-box counted">
                            <span class="counter">50</span>
                        </div>
                        %
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="bar-inner">
                        <div class="bar progress-line" data-width="50" style="width: 80%;"></div>
                    </div>
                </div>
            </div> <!-- skill item -->
            <div class="skill-item mt-25">
                <div class="skill-header">
                    <h6 class="skill-title">Typescript</h6>
                    <div class="skill-percentage">
                        <div class="count-box counted">
                            <span class="counter">90</span>
                        </div>
                        %
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="bar-inner">
                        <div class="bar progress-line" data-width="90" style="width: 95%;"></div>
                    </div>
                </div>
            </div> <!-- skill item -->
        </div> <!-- about skills -->
</div>
    




  