<div class="m-5">
    <hr class="container" style="margin-left: auto; margin-right: auto; margin-top: 2rem;" />
    <div class="container d-flex justify-content-center align-content-center">
        <h1 class="display-4 texto-1 text-center">Hard & Soft Skills</h1>
    </div>
    <hr class="container" style="margin-left: auto; margin-right: auto;" />
</div>




<!-- Modal Hard-->
<div class="modal fade" id="modalHard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Hard Skill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formSkill" (ngSubmit)="crearHard()">
                    <div class="mb-3">
                        <label for="Habilidad" class="form-label">Destacar habilidad</label>
                        <input type="text" class="form-control" placeholder="Habilidad"
                            formControlName="nombre_habilidad">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label"> Imgresar un valor de 1 a 100 </label>
                        <input type="number" class="form-control" placeholder="Valor " formControlName="valor_hab">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Crear</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--  Fin de Modal -->

<!-- ----------------------------Hard-Skill-------------------------------------- -->
<div class="container d-flex justify-content-around p-2">
    <div class="" style="min-width: 25rem;">
        <div class="about-skills m-1">

            <h2 class=" text-center ">Hard-Skill</h2>
            <div class="container d-flex justify-content-end">
                <a href="" class="m-3" data-bs-toggle="modal" data-bs-target="#modalHard" (click)="limpiarForm()">
                    <img src="/assets/iconos/plus.png" style="height: 2rem; width: 2rem;" alt="">
                </a>
            </div>


            <!-- skill item -->
            <ul *ngFor="let sk of hardList">
                <li class="lista">
                    <div class="skill-item">
                        <div class="skill-header">
                            <h6 class="skill-title">{{sk.nombre_habilidad}}</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">{{ sk.valor_hab}}</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="90" [ngStyle]="{'width.%':sk.valor_hab}">
                                </div>
                                <!--style="width: {{porcentaje}}%;"-->
                            </div>
                        </div>
                        <!-- Botones Editar y Borrar -->
                        <div class="d-flex m-1">
                            <div class=" m-1">
                                <a href="" data-bs-toggle="modal" data-bs-target="#skillModificarHard"
                                    (click)="hardId(sk.idhard_skill)">
                                    <img src="/assets/iconos/editar.png" alt="">
                                </a>
                            </div>
                            <div class=" m-1">
                                <a type="button">
                                    <img src="/assets/iconos/eliminar.png" (click)="eliminarHardId(sk.idhard_skill)">
                                </a>
                            </div>
                        </div>
                        <!-- FINAL Botones Editar y Borrar -->
                    </div>

                    <!-- Modal EDITAR SKILL -->
                    <div class="modal fade" id="skillModificarHard" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Editar Hard Skill</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="formSkill" (ngSubmit)="editarHard(sk.idhard_skill)">
                                        <div class="mb-3">
                                            <label for="formGroupExampleInput" class="form-label">Destacar
                                                habilidad</label>
                                            <input type="text" class="form-control" formControlName="nombre_habilidad"
                                                placeholder="Habilidad">
                                        </div>
                                        <div class="mb-3">
                                            <label for="formGroupExampleInput" class="form-label"> Imgresar un valor de
                                                1 a 100 </label>
                                            <input type="number" class="form-control" formControlName="valor_hab"
                                                placeholder="Valor ">
                                        </div>

                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary"
                                                data-bs-dismiss="modal">Editar</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal" (click)="limpiarForm()">Cerrar</button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!--  Fin de Modal editar -->
                </li>
            </ul>
            <!-- skill item -->
        </div>
        <!-- about skills -->
    </div>


    <!-------------------------------------------*****------------------------------------------------------------>



    <!-- Modal Soft-->
    <div class="modal fade" id="modalSoft" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Soft Skill</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formSkill" (ngSubmit)="crearSoft()" >
                        <div class="mb-3">
                            <label for="Habilidad" class="form-label">Destacar habilidad</label>
                            <input type="text" class="form-control" placeholder="Habilidad"
                                formControlName="nombre_habilidad">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label"> Imgresar un valor de 1 a 100 </label>
                            <input type="number" class="form-control" placeholder="Valor " formControlName="valor_hab">
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Crear</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--  Fin de Modal -->


    <!-- ----------------------------Soft-Skill-------------------------------------- -->
    <div class="">
        <div class="about-skills m-1 " style="min-width: 15rem;">
            <h2 class=" text-center">Soft-Skill</h2>
            <div class="container d-flex justify-content-end">
                <a href="" class="m-3" data-bs-toggle="modal" data-bs-target="#modalSoft" (click)="limpiarForm()">
                    <img src="/assets/iconos/plus.png" style="height: 2rem; width: 2rem;" alt="">
                </a>
            </div>

            <ul class="lista">
                <li *ngFor="let sb of softList">
                    <div class=" m-auto">
                        <div class="m-0 p-1" style="width: 100%;">
                            <h6 class=" text-center">{{sb.nombre_habilidad}} <span>%{{sb.valor_hab}}</span> </h6>
                            <div class="d-flex">
                                <div class="m-auto">
                                    <mat-progress-spinner [value]="sb.valor_hab" mode="determinate" strokeWidth="13"
                                        class=" m-auto p-0"></mat-progress-spinner>
                                </div>
                                
                            </div>

                            
                        </div>
                    </div>
                    <!-- Botones Editar y Borrar -->
                    <div class="d-flex m-1">
                        <div class=" m-1">
                            <a href="" data-bs-toggle="modal" data-bs-target="#skillSoft" (click)="softdId(sb.idsoft_skill)">
                                <img src="/assets/iconos/editar.png" alt="">
                            </a>
                        </div>
                        <div class=" m-1">
                            <a type="button" (click)="eliminarSoftdId(sb.idsoft_skill)" >
                                <img src="/assets/iconos/eliminar.png">
                            </a>
                        </div>
                    </div>
                    <!-- FINAL Botones Editar y Borrar -->


                    <!-- Modal EDITAR SKILL -->
                    <div class="modal fade" id="skillSoft" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Editar Soft Skill</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="formSkill"(ngSubmit)="editarSoft(sb.idsoft_skill)" >
                                        <div class="mb-3">
                                            <label for="formGroupExampleInput" class="form-label">Destacar
                                                habilidad</label>
                                            <input type="text" class="form-control"
                                                formControlName="nombre_habilidad" placeholder="Habilidad">
                                        </div>
                                        <div class="mb-3">
                                            <label for="formGroupExampleInput" class="form-label"> Imgresar un
                                                valor de
                                                1 a 100 </label>
                                            <input type="number" class="form-control"
                                                formControlName="valor_hab" placeholder="Valor ">
                                        </div>

                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary"
                                                data-bs-dismiss="modal">Editar</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  Fin de Modal editar -->


                </li>
            </ul>
        </div>
    </div>