

<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-leftcol">
                <p style="color: aliceblue;"><span class="bold-16p">Argentina</span><br>
                Apostoles <br>
                Correo: <a href="#">{{pieList.correo}}</a>
                </p>
            </div>
            <div class="col-md-4 footer-midcol">
                <ul>
                    <li><a class="nav-link p-0" href="https://www.facebook.com/joseluis.gazano">
                        <img src="/assets/iconos/002-facebook.png" alt="" style="height: 2rem;">
                    </a></li>
                    <li><a class="nav-link p-0" href="https://www.linkedin.com/in/jose-luis-gazano-897488213/">
                        <img src="/assets/iconos/003-linkedin.png" alt="" style="height: 2rem;">
                    </a></li>
                    <li><a class="nav-link p-0" aria-current="page" href="https://github.com/josegazano732">
                        <img src="/assets/iconos/github.png" alt="" style="height: 2rem;">
                    </a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 footer-rightcol">
                <p style="color: aliceblue;">Portfolio <a href="#"><img src="/assets/img/APLogo-20-20.png" alt="Argentina-Programa" class=" img-fluid" width="50%" height="50%"></a></p>
            </div>
        </div>
    </div>
</footer>