<footer class=" container-fluid d-flex justify-content-center">
    <nav aria-label="Page navigation example" class=" ">
        <ul class="pagination m-3">
            <li class="page-item"><a class="page-link bg-transparent text-light" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link bg-transparent text-light" href="#">1</a></li>
            <li class="page-item"><a class="page-link bg-transparent text-light" href="#">2</a></li>
            <li class="page-item"><a class="page-link bg-transparent text-light" href="#">3</a></li>
            <li class="page-item"><a class="page-link bg-transparent text-light" href="#">Proximo</a></li>
        </ul>
    </nav>
</footer>